
.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input{
    width: 70%;
    padding: 8px;
    margin-right: 10px;
}
button{
    padding: 8px 15px;
    background-color: rgb(5, 179, 71);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: darkgreen;
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    margin-bottom: 10px;
}
.delete{
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
body{
    background: #ff6e7f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bfe9ff, #ff6e7f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bfe9ff, #ff6e7f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family:cursive;
}